@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
body {
  scroll-behavior: smooth;
}
a,
li {
  list-style: none;
  text-decoration: none;
}
